<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin >
    <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.mengqingchang.myplugin1.perspectives.PerspectiveFactory"
            fixed="false"
            icon="icon/logical.gif"
            id="com.mengqingchang.myplugin1.perspective1"
            name="MyPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view 
            category="com.mengqingchang.myplugin1.category1"
            class="com.mengqingchang.myplugin1.views.View1"
            icon="icon/NavigatorView.gif"
            id="com.mengqingchang.myplugin1.view1"
            name="Navigator">
      </view>
      <view
            category="com.mengqingchang.myplugin1.category1"
            class="com.mengqingchang.myplugin1.views.View2"
            icon="icon/SampleView1.gif"
            id="com.mengqingchang.myplugin1.view2"
            name="SampleView1">
      </view>
      <view
            category="com.mengqingchang.myplugin1.category1"
            class="com.mengqingchang.myplugin1.views.View3"
            icon="icon/SampleView2.gif"
            id="com.mengqingchang.myplugin1.view3"
            name="SampleView2">
      </view>
      <category
            id="com.mengqingchang.myplugin1.category1"
            name="MyPerspective View">
      </category>
   
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.mengqingchang.myplugin1.editors.EditorOne"
            contributorClass="com.mengqingchang.myplugin1.editors.MyEditorContributor"
            default="false"
            icon="icon/editor.gif"
            id="com.mengqingchang.myplugin1.editor1"
            name="员工档案">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.mengqingchang.myplugin1.muleditors.MulEditor"
            icon="icon/muleditor.gif"
            id="com.mengqingchang.myplugin1.editor2"
            name="多页编辑器">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="com.mengqingchang.myplugin1.viewContribution1"
            targetID="com.mengqingchang.myplugin1.view2">
         <action
               class="com.mengqingchang.myplugin1.action.ViewActionDelegate"
               icon="icon/help.gif"
               id="com.mengqingchang.myplugin1.action1"
               label="ViewAction"
               menubarPath="com.mengqingchang.myplugin1.menu1/separator1"
               style="push"
               toolbarPath="additions">
         </action>
         <menu
               id="com.mengqingchang.myplugin1.menu1"
               label="Actions"
               path="additions">
         </menu>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="com.mengqingchang.myplugin1.editorContribution1"
            targetID="com.mengqingchang.myplugin1.editor2">
         <menu
               id="com.mengqingchang.myplugin1.menu2"
               label="&amp;Actions"
               path="additions">
            <separator
                  name="separator2">
            </separator>
         </menu>
         <action
               class="com.mengqingchang.myplugin1.action.EditorActionDelegate"
               definitionId="com.mengqingchang.myplugin1.command1"
               icon="icon/muleditor.gif"
               id="com.mengqingchang.myplugin1.action2"
               label="Editor Actions"
               menubarPath="com.mengqingchang.myplugin1.menu2/separator2"
               style="push"
               toolbarPath="Normal/additions"
               tooltip="This is Editor Action!!!">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="com.mengqingchang.myplugin1.viewerContribution2"
            targetID="#TextEditorContext">
         <action
               class="com.mengqingchang.myplugin1.action.EditorActionDelegate"
               icon="icon/muleditor.gif"
               id="com.mengqingchang.myplugin1.action3"
               label="Editor Action"
               menubarPath="additions">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="com.mengqingchang.myplugin1.viewerContribution3"
            targetID="org.eclipse.ui.views.ResourceNavigator">
         <menu
               id="com.mengqingchang.myplugin1.menu3"
               label="Actions"
               path="additions">
            <separator
                  name="separator3">
            </separator>
         </menu>
         <action
               class="com.mengqingchang.myplugin1.action.ViewActionDelegate"
               id="com.mengqingchang.myplugin1.action4"
               label="View Actions"
               menubarPath="com.mengqingchang.myplugin1.menu3/separator3">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.mengqingchang.myplugin1.objectContribution1"
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.java">
         <action
               class="com.mengqingchang.myplugin1.action.ObjectActionDelegate"
               enablesFor="1"
               icon="icon/javadoc.gif"
               id="com.mengqingchang.myplugin1.action5"
               label="Object Action"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="com.mengqingchang.myplugin1.category2"
            id="com.mengqingchang.myplugin1.command1"
            name="command1">
      </command>
      <category
            id="com.mengqingchang.myplugin1.category2"
            name="category2 ">
      </category>
    </extension>   
    <extension
            point="org.eclipse.ui.bindings">
         <key
               commandId="com.mengqingchang.myplugin1.command1"
               schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
               sequence="CTRL+R">
         </key>
    </extension>
    <extension
          point="org.eclipse.ui.preferencePages">
       <page
             class="com.mengqingchang.myplugin1.preferences.PreferencePage1"
             id="com.mengqingchang.myplugin1.page1"
             name="myplugin1首选项样本">
       </page>
       <page
             category="com.mengqingchang.myplugin1.page1"
             class="com.mengqingchang.myplugin1.preferences.PreferencePage2"
             id="com.mengqingchang.myplugin1.page2"
             name="myplugin1配置">
       </page>
    </extension>
    <extension
          point="org.eclipse.core.runtime.preferences">
       <initializer
             class="com.mengqingchang.myplugin1.preferences.PreferenceInitializer">
       </initializer>
    </extension>
      <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.mengqingchang.myplugin1.propertypage.WorkbenchPropertyPage"
            icon="icon/sample.gif"
            id="com.mengqingchang.myplugin1.page1"
            name="样本属性"
            objectClass="org.eclipse.jdt.core.IJavaProject">
      </page>
     </extension>
      <extension
          point="org.eclipse.ui.perspectiveExtensions">
       <perspectiveExtension
             targetID="com.mengqingchang.myplugin1.perspective1">
          <view
                closeable="true"
                id="com.mengqingchang.myplugin1.view1"
                moveable="true"
                ratio="0.25"
                relationship="left"
                relative="org.eclipse.ui.editorss"
                showTitle="true"
                visible="true">
          </view>
          <view
                closeable="true"
                id="com.mengqingchang.myplugin1.view2"
                moveable="true"
                ratio="0.75"
                relationship="bottom"
                relative="org.eclipse.ui.editorss"
                showTitle="true"
                visible="true">
          </view>
          <view
                closeable="true"
                id="com.mengqingchang.myplugin1.view3"
                moveable="true"
                ratio="0.65"
                relationship="right"
                relative="org.eclipse.ui.editorss"
                showTitle="true"
                visible="true">
          </view>
       </perspectiveExtension>
     </extension>
      <extension
          point="org.eclipse.ui.startup">
       <startup
             class="com.mengqingchang.myplugin1.startup.EasyStartup">
       </startup>
   </extension>
      <extension
            point="org.eclipse.help.toc">
         <toc
               file="toc.xml"
               primary="true">
         </toc>
         <toc
               file="tobasic.xml">
          </toc>
         <toc
               file="toplugins.xml">
         </toc>
      </extension>
      <extension
            point="org.eclipse.help.contexts">
         <contexts
               file="contexts.xml" >
         </contexts>
      </extension>
  　
</plugin>
